{% extends 'dashboard.html' %}

{% block content %}
  <div class="container">

    <!-- Zona per i Log -->
    <div>
      <h3>Storico Accessi dell'Utente</h3>
      <div id="logContainer" class="border p-3" style="height: 300px; overflow-y: scroll; background-color: #f8f9fa;">
        <!-- I log verranno caricati qui -->
        {% if logs %}
          <ul class="list-unstyled">
            {% for log in logs %}
              <li>{{ log.timestamp }} - {{ log.message }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Nessuna informazione disponibile.</p>
        {% endif %}
      </div>
    </div>
  </div>

  

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    // Funzione per caricare i log
    function loadLogs() {
      $.ajax({
        type: 'GET',
        url: '{% url "get_logs" %}',
        success: function(response) {
          console.log(response)
          var logsContainer = $('#logContainer');
          logsContainer.empty(); // Svuota il contenitore esistente

          if (response.logs.length > 0) {
            var logList = '<ul class="list-unstyled">';
            response.logs.forEach(function(log) {
              let date = new Date(log.timestamp);
      
              let day = String(date.getDate()).padStart(2, '0');
              let month = String(date.getMonth() + 1).padStart(2, '0'); // Mesi da 0 a 11
              let year = date.getFullYear();
              
              let hours = String(date.getHours()).padStart(2, '0');
              let minutes = String(date.getMinutes()).padStart(2, '0');
              let seconds = String(date.getSeconds()).padStart(2, '0');

              logList += `<li>${day}-${month}-${year} ${hours}:${minutes}:${seconds} - ${log.rfid} - ${log.granted}</li>`;
            });
            logList += '</ul>';
            logsContainer.append(logList);
          } else {
            logsContainer.append('<p>Nessuna informazione disponibile.</p>');
          }
        }
      });
    }

    // Carica i log all'inizio
    $(document).ready(function() {
      loadLogs();
    });
  </script>
{% endblock %}
